.btn-primary{
  margin-left: 10px;
}

.btn-danger{
  margin-left: 5px;
}

input[type="checkbox"]{
  margin-right: 5px;
}

.btn-danger{
  opacity: 0.3;
}

.btn-danger:hover{
  opacity: 1.0;
}

.str{
  text-decoration: line-through;
}